.login {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px 50px;
    background: #D7C0AE;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EAD3C2;
}

.form-contain h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

.form-contain p {
    font-size: 14px;
    margin-bottom: 10px;
}


.submit-btn {
    background-color: #333;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.return-home {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.address, .contact {
    font-size: 14px;
}

a {
    color: black;
}
