/* Paleta "Tierra y memoria" aplicada a changePassword.css */

.login-background{
    background: linear-gradient(135deg, #F4EADC, #EAD3C2); 
}

.login {
    color: #A75D3C; /* siena quemado */
    font-weight: bold;
    text-decoration: none;
}

/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #F4EADC; /* suave, para un fondo sutil */
}

.form-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px 50px;
    background: #EAD3C2; /* marfil claro */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #A75D3C; /* siena quemado */
}

.form-container h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #A75D3C; /* siena quemado */
    margin-bottom: 20px;
}

.form-container p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #4A4A4A; /* gris oscuro */
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #66705C; /* verde musgo */
    border-radius: 10px;
    background-color: #F4EADC; /* suave */
}

.submit-btn {
    background-color: #A75D3C; /* siena quemado */
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #C18F34; /* ocre dorado */
}

.return-home {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #4A4A4A; /* gris oscuro */
    font-size: 12px;
}

.return-home:hover {
    text-decoration: underline;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #A75D3C; /* siena quemado */
}

.address, .contact {
    font-size: 14px;
    color: #4A4A4A; /* gris oscuro */
}

a {
    color: #4A4A4A; /* gris oscuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
