/*HEADER AND CSS*/
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D7C0AE !important;
}
header {
    background-color: #D7C0AE;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
}

.nav-list{
    list-style: none; 
    display:flex;
    padding: 0;
    margin: 0;
}

.navbar .nav-list a:hover {
    color: #ff5733 !important; /* Change this to your desired color */
}

.nav-list li {
    margin-right: 15px;
}

.login {
    margin-left: auto;
}

.active{
    color:#E1390C;
}

footer {
    background-color: #EAD3C2;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

.logo img{
    width: 100%;  
    height: 150px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding:30px 0 30px 0;
    font-weight: bold;
}
.footer-content div {
    margin-bottom: 10px;
}

.footer-content a{
    color:#1E1E1E;
}