.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4e0c2;
    font-size: 2rem;
    font-weight: bold;
}

.hero-content h1{
    color:#E5B567;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.background-hero-section{
    position: relative; /* Needed for absolute positioning of images */
    width: 100%; /* Or a specific width */
    height: 500px; /* Or a specific height */
    overflow: hidden; /* Prevent images from overflowing the container */
}

.background-hero-section img {
    position: absolute;
    width: 50%; /* Each image takes half the width */
    height: 100%; /* Fill the height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }

.background-hero-section img:nth-child(1) {
    left: 0; /* Position the first image on the left */
}
.background-hero-section img:nth-child(2) {
    right: 0; /* Position the second image on the right */
}
.background-hero-section .hero-content {
  position: absolute; /* Position text over the images */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  color: white; /* Or any desired text color */
  z-index: 1; /* Ensure text is above images */
}

.background-hero-section .hero-content h1 {
  margin: 0;
  font-size: 2em; /* Adjust font size as needed */
}

.introduction {
    display:flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    background-color:#D7C0AE;
    
}

.item-introduction{
    padding: 30px 60px;
    text-align: left;
    width: auto;
    flex-grow:1;
    flex-basis: 0;
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
}

.item-introduction p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5em;
}

.item-introduction p.description-text{
    font-size: 1em;
}

.stories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #EAD3C2;
}
.story {
    text-align: center;
}

.story img {
    width: 100%;  /* Makes images responsive */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the space while keeping aspect ratio */
    border-radius: 8px;
}

.story p{
    font-family: 'Iner', sans-serif;
    font-weight: bold;
    color:#1E1E1E;
}

.chart {
    display:flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 20px;
    background-color:#D7C0AE;
}

.carousel-control-prev, .carousel-control-next{
    width: 100%;  /* Makes images responsive */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the space while keeping aspect ratio */
    border-radius: 8px;
}

.dashboardButton {
    background-color: #FFD591;
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px;
    border-radius: 50px;


    font-family: 'Inter', sans-serif;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}