.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px 50px;
    background: #D7C0AE;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}
.login-container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EAD3C2;
}
.login-container a {
    font-size: 0.9em;
    color: #333;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}
.login-container button {
    background-color: #333;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.login-container button:hover {
    background-color: #555;
}
