<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/css/changePassword.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="nav-list"> <!--ADJUST THIS NAVBAR STYLE AND PLACEMENT -->
                <li><a href="/">Home</a></li>
                <li><a href="/dataExploration">Data Exploration Dashboard</a></li>
                <li><a href="/about">About & Contact</a></li>
            </ul>
            <ul class="nav-list login"> 
                <li><a href="/login" class="active">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <h2>Change of password</h2>
            <p>Insert your email account:</p>
            <input type="email" placeholder="Email account">
            <button class="submit-btn">Submit</button>
            <a href="/login" class="return-home">Go back</a>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="logo">KULTURPARKEN SMÅLAND</div>
            <div class="address">
                <h4>House of Emigrants visiting address:</h4>
                <p>Vilhelm Mobergs gata 4, 352 29 Växjö.</p>
            </div>
            <div class="contact">
                <h4>About the House of Emigrants</h4>
                <p>Contact information: +46 470-70 42 00</p>
                <p><a href="mailto:information@kulturparkensmaland.se">information@kulturparkensmaland.se</a></p>
            </div>
        </div>
    </footer>

</body>
</html>
