<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!--GENERAL STYLE-->
    <link rel="stylesheet" href="../static/css/general.css">
    <!--SPECIFIC STYLE-->
    <link rel="stylesheet" href="../static/css/login.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

    <!--Montserrat-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet"> 
    <!--Inter-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">   

</head>
<body>
    <header style="border-bottom: 1px solid #333;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="nav-list"> <!--ADJUST THIS NAVBAR STYLE AND PLACEMENT -->
                <li><a href="index.html" >Home</a></li>
                <li><a href="dataExploration.html">Data Exploration Dashboard</a></li>
                <li><a href="about.html">About & Contact</a></li>
            </ul>
            <ul class="nav-list login"> 
                <li><a href="login.html" class="active">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="login-container">
        <h1>Log In</h1>
        <input type="text" placeholder="Email account">
        <input type="password" placeholder="Password">
        <a href="changePassword.html">Have you forgotten your password?</a>
        <button>Submit</button>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="logo"><img src="../static/images/Kulturparken.png"></div>
            <div>
                <p>House of Emigrants visiting address:</p>
                <p>Vilhelm Mobergs gata 4, 352 29 Växjö.</p>
            </div>
            <div>
                <p>About the House of Emigrants</p>
                <p><a href="https://www.kulturparkensmaland.se/en/the-house-of-emigrants/">https://www.kulturparkensmaland.se/en/the-house-of-emigrants/</a></p>
                <p>Contact information:</p>
                <p>+46 470-70 42 00</p>
                <p><a href="mailto:information@kulturparkensmaland.se">information@kulturparkensmaland.se</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
