<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/templates/login.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Data Exploration dashboard</a></li>
                <li><a href="#">About & contact</a></li>
                <li class="active"><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="login-container">
        <h1>Log In</h1>
        <input type="text" placeholder="Email account">
        <input type="password" placeholder="Password">
        <a href="#">Have you forgotten your password?</a>
        <button>Submit</button>
    </div>
    
    <footer>
        <div class="footer-content">
            <div>
                <strong>House of Emigrants visiting address:</strong>
                <p>Vilhelm Mobergs gata 4, 352 29 Växjö.</p>
            </div>
            <div>
                <strong>About the House of Emigrants</strong>
                <p>Contact information:</p>
                <p>+46 470-70 42 00</p>
                <p><a href="mailto:information@kulturparkensmaland.se">information@kulturparkensmaland.se</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
